.loading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    height: 100%;
    z-index: 9999;
    position: fixed;
}
.loading img{
    width:23rem;
}