    body{
        margin: 0;
        padding: 0;
    }

    #loading{
        height: 100vh;
        z-index: 23;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #loading img{
        width: 500px;
        height: 500px;
    }

    #logo {
        display: flex;
        justify-content: center;
    }

    #logo img {
        width: 18rem;
        margin-top: 15px;
        vertical-align: middle;
        border-style: none;
        border: 1px solid;
    }

    h1.center {
            min-height: 100px;
    }